{% extends 'portfolio/layout.html' %}
    {% block main %}
<article class="first">
    <p><b><i>Engenharia Informática</i></b><br><br>
    A primeira razão pela qual eu decidi escolher Engenharia Informática, de entre todos os outros cursos disponíveis, foi a quantidade de temas interessantes que este curso contém.
    Tenho gostado principalmente de aprender a programar. No entanto, as matemáticas foram sempre as coisas que mais me chamou à atenção.<br>
    Quando acabar o curso gostava especialmente de trabalhar em algo relacionado à programação, visto que me vejo a fazer isto daqui a muitos anos.
    </p>
  </article>
    <article class="second">
      <p><h2><b><i>Interesses</i></b></h2><br><br>
      A primeira razão pela qual eu decidi escolher Engenharia Informática, de entre todos os outros cursos disponíveis, foi a quantidade de temas interessantes que este curso contém.
      Tenho gostado principalmente de aprender a programar. No entanto, as matemáticas foram sempre as coisas que mais me chamou à atenção.<br>
      Quando acabar o curso gostava especialmente de trabalhar em algo relacionado à programação, visto que me vejo a fazer isto daqui a muitos anos.
      </p>
  </article>
{% endblock %}