<!doctype html>
<html lang="en">
<head>
    <style>

    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/layout.css' %}">
</head>

  <body>
      <header>
        <div class = "Name">Tomás Cardoso</div>
        <nav>
          <a href="{% url 'portfolio:home' %}">Home</a>      
          <a href="{% url 'portfolio:about_me' %}">Sobre mim</a>           
          <a href="{% url 'portfolio:project' %}">Projetos</a> 
          <a href="{% url 'portfolio:web' %}">Web</a>  
          <a href="{% url 'portfolio:blog' %}">Blog</a>
          <a href="{% url 'portfolio:home' %}">Contacto</a>   
          {% if request.user.is_authenticated %}
          <a href="{% url 'portfolio:logout' %}" class="btn">Logout</a>       
          {%else%} 
          <a href="{% url 'portfolio:login' %}" class="btn">Login</a>
          {% endif %}

        </nav>
      </header>
      
      <main>
          <p>O importante é o esforço e a dedicação</p>

          {% block main %}
          
          {% endblock main %}
      </main>
      <footer>ULHT, 2022</footer>
  </body>
</html>