{% extends 'portfolio/layout.html' %}
        {% block main %}
        <h1>Dicas para viajantes</h1>

        <div class="container">
          <div>
            <h2>Conselho para viajante</h2>
            <p>Um excelente conselho para viajante que é excelente é o conselho para viajar que leva de forma excelente fora do concelho.</p>
          </div>
        
          <div>
            <h2>Outro conselho</h2>
            <p>Um excelente conselho para viajante que é excelente é o conselho para viajar que leva de forma excelente fora do concelho.</p>
          </div>
        
          <div>
            <h2>Dica para viajante</h2>
            <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
          </div>
        
          <div>
            <h2>Viajar fora do concelho</h2>
            <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
          </div>
        
          <div>
            <h2>Viajar com indicação</h2>
            <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
          </div>
        <div>
            <h2>Viajante com concelho</h2>
            <p>Um excelente conselho para viajante que é excelente é o conselho para viajar que leva de forma excelente fora do concelho.</p>
          </div>
        
          <div>
            <h2>Ainda outro conselho</h2>
            <p>Um excelente conselho para viajante que é excelente é o conselho para viajar que leva de forma excelente fora do concelho.</p>
          </div>
          <div>
            <h2>Dica para viajar</h2>
            <p>uma excelente dica para viajante é dica para viajante que é excelente para uma dica para viajante.</p>
          </div>
        </div>    
        {% endblock %}