{% extends 'portfolio/layout.html' %}

{% block main %}
<h1 class="pageTitle">Quizz</h1>
    <br>
    <br>
<div class="container">
    tecnologias existentes
    front-end
    back-end
    outras
    Sobre este website
    estrutura do site
    diagrama DER
    tecnologias usadas
    padrões usados
    laboratórios
    notícias
    exemplos e técnicas

    <div class="quizz">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <p>Insira o seu nome<input type="text" name="name">
                <p>O que significa HTML?<input type="text" name="question1" value="text default">
                <p>CSS significa Cascading Style Sinal<input type="checkbox" name="question2" value="text default">
                <p>Django é uma framework para desenvolvimento rápido para web<input type="checkbox" name="question3" value="a&#x03C9;b">
                <p>Em que ano foi lançado a framework Django?<input type="text" name="question4">
                <p>A ultima versão disponível de HTML até agora é o HTML5<input type="checkbox" name="question5">
                
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="graphs">
        {% load static %}
        <img src="/static/portfolio/images/final_graphic.png">
    </div>


</div>


{% endblock %}